Thumbs.db
*.config
*.fda
*.fdb
*.fdl
*.nupkg
*.obj
*.pdb
*.suo
*.user
*.vshost.exe
*.vshost.exe.manifest
/.vs/
/FlashDevelop/Bin/Debug/Apps/
/FlashDevelop/Bin/Debug/Data/
/FlashDevelop/Bin/Debug/Plugins/
/FlashDevelop/Bin/Debug/Settings/FileStates/
/FlashDevelop/Bin/Debug/Settings/FormStates/
/FlashDevelop/Bin/Debug/Settings/Recovery/
/FlashDevelop/Bin/Debug/Settings/Themes/CURRENT
/FlashDevelop/Bin/Debug/Tools/fdbuild/fdbuild.exe
/FlashDevelop/Bin/Debug/*.Tests.dll
/FlashDevelop/Bin/Debug/Exceptions.log
/FlashDevelop/Bin/Debug/FlashDevelop.*
/FlashDevelop/Bin/Debug/FlashDevelop64.*
/FlashDevelop/Bin/Debug/PluginCore.*
/FlashDevelop/Properties/AssemblyInfo.cs
/packages/
/PluginCore/Bin
**/obj/
**/NSubstitute.dll
**/NSubstitute.xml
**/nunit.framework.dll
**/nunit.framework.xml
**/Castle.Core.*
**/System.Threading.Tasks.Extensions.*
**/System.Runtime.CompilerServices.Unsafe.*
**/System.Diagnostics.DiagnosticSource.*
.vs/
**/System.Buffers.*
**/System.Memory.*
**/System.Numerics.Vectors.*
**/Microsoft.Threading.*
