Thumbs.db
*.config
*.fda
*.fdb
*.fdl
*.nupkg
*.obj
*.pdb
*.suo
*.user
*.vs/
*.vshost.exe
*.vshost.exe.manifest
**/obj/
**/NSubstitute.*
**/nunit.framework.*
**/Castle.Core.*
/FlashDevelop/Bin/Debug/Apps/
/FlashDevelop/Bin/Debug/Data/
/FlashDevelop/Bin/Debug/Plugins/
/FlashDevelop/Bin/Debug/Settings/FileStates/
/FlashDevelop/Bin/Debug/Settings/FormStates/
/FlashDevelop/Bin/Debug/Settings/Recovery/
/FlashDevelop/Bin/Debug/Settings/Themes/CURRENT
/FlashDevelop/Bin/Debug/Tools/fdbuild/fdbuild.exe
/FlashDevelop/Bin/Debug/*.Tests.dll
/FlashDevelop/Bin/Debug/Exceptions.log
/FlashDevelop/Bin/Debug/FlashDevelop.*
/FlashDevelop/Bin/Debug/FlashDevelop64.*
/FlashDevelop/Bin/Debug/PluginCore.*
/FlashDevelop/Properties/AssemblyInfo.cs
/FlashDevelop/Scripting.*
/FlashDevelop/Bin/Debug/CSScriptLibrary.*
/FlashDevelop/Bin/Debug/Microsoft.*
/FlashDevelop/Bin/Debug/System.*
/FlashDevelop/Bin/Debug/Mono.*
/packages/
/PluginCore/Bin
