Thumbs.db
*.suo
*.user
*.pdb
*.obj
*.vshost.exe
*.vshost.exe.manifest
*.config
*.fdb
*.fdl
*.fda
*.nupkg
obj/
FlashDevelop/Properties/AssemblyInfo.cs
FlashDevelop/Bin/Debug/FlashDevelop.*
FlashDevelop/Bin/Debug/PluginCore.*
FlashDevelop/Bin/Debug/Plugins/
FlashDevelop/Bin/Debug/Data/
FlashDevelop/Bin/Debug/Apps/
FlashDevelop/Bin/Debug/Settings/FormStates/
PluginCore/Bin
/FlashDevelop/Bin/Debug/Settings/FileStates
/FlashDevelop/Bin/Debug/Settings/Recovery
/FlashDevelop/Bin/Debug/Exceptions.log
/FlashDevelop/Bin/Debug/Tools/fdbuild/fdbuild.exe
