* 
{
	font-size: 9pt;
	font-family: "Trebuchet MS", Georgia, Times, serif;
	color: #111111;
}
body 
{
	background-color: #f9f9f9;
	padding: 0px;
	margin: 0px;
	background-image: url(images/pageHeader.png);
	background-repeat: repeat-x;
	background-position: top;
}
hr 
{
	margin: 0px;	
	padding: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #ececec;
	height: 1px;
	width: 100%;
}
img 
{
	border: none;
}
a 
{
	color: #020202;
	text-decoration: none;
}
a:hover 
{
	color: #C98012;
	text-decoration: underline;
}
div#wrapper 
{
	height: 100px;
	min-width: 700px;
}
div#title 
{
	background-image: url(images/pageTitle.png);
	background-repeat: no-repeat;
	background-position: 0px 10px;
	height: 75px;
}
div#links 
{
	height: 35px;
	font-weight: bold;
	position: absolute;
	right: 30px;
	top: 40px;
}
div#links a 
{
	margin-right: 10px;
	text-transform: uppercase;
	color: #ffffff;
}
div#tooltip 
{
	top: 0; 
	left: 0; 
	z-index: 2;	
	visibility: hidden;
	position: absolute;
	background-color: #f9f7e3;
	border: 1px solid #555555;
	padding: 4px 7px 3px 7px;
}
table#holder 
{
	padding: 1px;
	text-align: left;
	position: absolute;
	width: 100%;
	top: 115px;
}
td.holderSpacer 
{
	width: 15px;
}
td.smallWindowHolder 
{
	width: 280px;
}
div#tasksContent 
{
	padding-bottom: 10px;
	padding-left: 5px;
}
div#projectsContent ul,li 
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
div#projectsContent li 
{
	background-position: left center;
	background-image: url(images/iconProject.gif);
	background-repeat: no-repeat;
	padding-bottom: 2px;
	padding-left: 21px;
}
div#rssContent ul,li 
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
div#rssContent li 
{
	margin: 0px;
	padding: 0px;
}
.rssItemTitle
{
	font-size: 9pt;
	text-transform: uppercase;
	margin-bottom: 5px;
	display: block;
}
.rssItemContent
{
	color: #111111;
}
div#rssContent li span a 
{
	color: #c98012;
	font-weight: bold;
	text-decoration: none;
}
div#rssContent li span a:hover 
{
	color: #c98012;
	text-decoration: underline;
}
.windowTop span#rssTitle 
{
	font-weight: bold;
	text-transform: uppercase;
	color: #555555;
}
.windowTop span#projectsTitle 
{
	font-weight: bold;
	text-transform: uppercase;
	color: #555555;
}
.windowTop span#versionTitle 
{
	font-weight: bold;
	text-transform: uppercase;
	color: #555555;
}
.window 
{
	padding: 0px;
	text-align: left;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	width: 100%;
}
.windowContent 
{
	padding: 10px;
	padding-left: 5px;
	padding-right: 0px;
	background-color: #ffffff;
}
.windowLeft 
{
	width: 10px;
}
.windowRight 
{
	width: 20px;
}
.windowTop 
{
	background-color: #e9e9e9;
	height: 24px;
}
.windowTopLeft 
{
	background-color: #e9e9e9;
	height: 24px;
	width: 10px;
}
.windowTopRight 
{
	background-color: #e9e9e9;
	height: 24px;
	width: 20px;
}
.windowBottom
{
	background-color: #e9e9e9;
	height: 3px;
}
.windowBottomLeft 
{
	background-color: #e9e9e9;
	height: 3px;
	width: 10px;
}
.windowBottomRight 
{
	background-color: #e9e9e9;
	height: 3px;
	width: 20px;
}
.social 
{  
	top: 99px; 
	right: 31px;
	height: 18px;
	position: absolute; 
	overflow: hidden; 
}
.social a 
{ 
	float: left; 
	position: relative; 
	margin-right: 7px; 
}
.social a img 
{ 
	display: block; 
	position: relative; 
	top: 7px; 
}
.social a:hover img 
{ 
	top: 0px;
}
.greyedOut 
{
	color: #cccccc;
}
.alertRed 
{
	color: #ff0000;
}